<table id="tabell" class="table table-striped table-sm table-hover text-center table-dark">
          <thead>
            <tr>
              <th><a class="nav-link text-light <% if session[:sortera] == "kop_namn" %>bg-primary<% end %>" href="/tabell?sortera=kop_namn" up-target="#tabell" up-restore-scroll="true"  up-cache="false" >Upphandlare</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "inkopsandel" %>bg-primary<% end %>" href="/tabell?sortera=inkopsandel" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Offentliga inköps andel av köpares bruttoomsättning">Inköpsandel (procent)</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "snittstorlek" %>bg-primary<% end %>" href="/tabell?sortera=snittstorlek" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Leverantörers genomsnittliga omsättning">Snittstorlek (miljoner kronor)</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "snittanstallda" %>bg-primary<% end %>" href="/tabell?sortera=snittanstallda" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Leverantörers genomsnittliga antal anställda">Snittanställda</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "lokalandel" %>bg-primary<% end %>" href="/tabell?sortera=lokalandel" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Andel inköp av företag registrerade i samma kommun eller region som köparen">Lokal andel (procent)</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "offandel" %>bg-primary<% end %>" href="/tabell?sortera=offandel" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Andel av leverantörers omsättning som är offentliga inköp">Offentlig andel (procent)</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "r_res" %>bg-primary<% end %>" href="/tabell?sortera=r_res" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Leverantörers genomsnittliga rörelseresultat">Rörelseresultat (procent)</a></th>
              <th><a class="nav-link text-light <% if session[:sortera] == "a_res" %>bg-primary<% end %>" href="/tabell?sortera=a_res" up-target="#tabell" up-restore-scroll="true" up-cache="false" data-toggle="tooltip" data-placement="top" title="Leverantörers genomsnittliga vinst">Årets resultat (procent)</a></th>
            </tr>
          </thead>
          <tbody>
            <% @tabell_h.each do |post| %>
            <tr>
              <td><a class="nav-link"><% if post[:kopnamn] != nil %><%= post[:kopnamn] %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=inkopsandel&rad=<%= post[:kop] %>" target="diagram"><% if post[:inkopsandel] != nil %><%= post[:inkopsandel].round(1) %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=snittstorlek&rad=<%= post[:kop] %>" target="diagram"><% if post[:snittstorlek] != nil %><%= (post[:snittstorlek]/1000000).round %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=snittanstallda&rad=<%= post[:kop] %>" target="diagram"><% if post[:snittanstallda] != nil %><%= post[:snittanstallda].round %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=lokalandel&rad=<%= post[:kop] %>" target="diagram"><% if post[:lokalandel] != nil %><%= post[:lokalandel].round %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=offandel&rad=<%= post[:kop] %>" target="diagram"><% if post[:offandel] != nil %><%= post[:offandel].round %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=r_res&rad=<%= post[:kop] %>" target="diagram"><% if post[:rres] != nil %><%= post[:rres].round %><% end %></a></td>
              <td><a class="diagram nav-link help text-light" href="/diagram?diagram=a_res&rad=<%= post[:kop] %>" target="diagram"><% if post[:ares] != nil %><%= post[:ares].round %><% end %></a></td>
            </tr>
            <% end %>
          </tbody>
</table>

<ul id="meny" class="nav flex-column">     
          <li class="nav-item">
            <a class="nav-link <% if session[:kopare] == "kommun" %>active<% end %>" href="/tabell?kopare=kommun" up-target="#tabell, #meny" up-cache="false" up-restore-scroll="true">
              <img src="/icons/octagon.png" alt="icon name">
              Kommuner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if session[:kopare] == "lan" %>active<% end %>" href="/tabell?kopare=lan" up-target="#tabell, #meny"  up-cache="false" up-restore-scroll="true">
              <img src="/icons/heart.png" alt="icon name">
              Landsting
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if session[:kopare] == "myndighet" %>active<% end %>" href="/tabell?kopare=myndighet" up-target="#tabell, #meny" up-cache="false" up-restore-scroll="true">
              <img src="/icons/archive.png" alt="icon name">
              Myndigheter
            </a>
          </li>
</ul>

<ul id="ar" class="nav flex-column">   
      <% $ar.each do |ar| %>
          <li class="nav-item">
            <a class="nav-link <% if session[:ar] == ar.to_s %>active<% end %>" href="/tabell?ar=<%= ar %>" up-target="#tabell, #ar" up-cache="false" up-restore-scroll="true">
              <img src="/icons/calendar.png" alt="icon name">
              <%= ar %>
            </a>
          </li>
       <% end %>
</ul>

<ul id="snimeny" class="nav flex-column mb-2">
          <li class="nav-item">
            <a id="bransch_alla" class="nav-link <% if session[:sni] == 'alla' %>active<% end %>" href="/tabell?sni=alla" up-target="#tabell, #snimeny"  up-cache="false" up-restore-scroll="true">
              <img src="/icons/target.png" alt="icon name">
              Samtliga branscher
            </a>
          </li>
         <% for i in "A".."U" do %>
          <li class="nav-item">
            <a id="bransch_<%= i %>" class="nav-link <% if session[:sni] == i %>active<% end %>" href="/tabell?sni=<%= i %>" up-target="#tabell, #snimeny" up-cache="false" up-restore-scroll="true">
              <img src="/icons/target.png" alt="icon name">
              <%= i %>: <%= $branscher[i] %>
            </a>
          </li>
         <% end %>
</ul>